<!-- The Modal -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="myModal" [ngStyle]="{'display': display}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="container">
          
          <div class="row d-flex justify-content-center mt-3 mb-2">
            <p id="mensagem" class="text-center destaque-texto">
              <strong>{{mensagem}}</strong>
            </p>
          </div>

          <div class="row justify-content-center mb-2">
            <div class="col-4">
              <button (click)="fechar()" type="button" class="btn btn-primary btn-lg btn-block btn-circle mb-2 shadow" data-dismiss="modal"> <fa-icon icon="check"></fa-icon> </button>
            </div>            
          </div>
        </div>                  
  
      </div>
    </div>
  </div>
