.backdrop{
 
    background-color:rgba(0,0,0,0.6);
     
    position:fixed;
     
    top:0;
     
    left:0;
     
    width:100%;
     
    height:100vh;
  }

  #mensagem{
    font-size: x-large;
  }

  .btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  } 