<div class="container">
    <p class="texto-paragrafo text-justify mt-3"> <span class="drop">C</span>om o <a href="https://www.instagram.com/delivery_aqui/">Delivery Aqui</a> você encontra comércios que estão fazendo delivery em Santa Cruz. </p>

    <p class="texto-paragrafo text-justify"> Quer cadastrar seu comércio? É simples: clique em <fa-icon icon="bars"></fa-icon> e selecione a opção ‘meu comércio’. </p>

    <p class="texto-paragrafo text-justify"> Seu comércio já está cadastrado e deseja excluí-lo ou atualizar dados? Entre em contato com os desenvolvedores. </p>
    
    <p class="texto-paragrafo text-left">Ajude-nos a manter o sistema, faça uma doação! </p>

    <p class="texto-paragrafo text-left"> <strong class="destaque-texto">Banco do Brasil:</strong> <br/>
    <strong>Agência:</strong> 0701-3 <br/>
    <strong>Conta:</strong> 26.027-4 <br/>
    JAILSON PEREIRA SANTOS</p>

    <p class="texto-paragrafo text-left"> <strong class="destaque-texto">Caixa Econômica:</strong>  <br/>
    <strong>Agência:</strong> 0806 <br/> 
    <strong>Conta:</strong> 00066598-7  <br/>
    <strong>Operação:</strong> 013 <br/>
    JANCLEITON R OLIVEIRA</p>                

    <hr/>
    
    <p class="texto-paragrafo text-left"><strong>Desenvolvedores:</strong></p>

    <div class="texto-paragrafo text-left">
        <fa-icon class="destaque-texto mr-2" [icon]="['fab', 'instagram']"></fa-icon>
        <a href="https://www.instagram.com/jancleitonn">@jancleitonn</a>
    </div>
    
    <div class="texto-paragrafo text-left mb-3">
        <fa-icon class="destaque-texto mr-2" [icon]="['fab', 'instagram']"></fa-icon>
        <a href="https://www.instagram.com/j41l80n">@j41l80n</a>
    </div>
                
</div>
