<div class="container vh-100">

    <p class="texto-paragrafo text-left mt-3"> <span class="drop">U</span>se sua conta do Google ou Facebook para fazer login</p>

    <div class="alert alert-info shadow" role="alert">
        <p class="text-justify">
            <strong> Atenção, </strong> caso seu comércio já esteja cadastrado e deseja atualizar algum dado entre em contato com a equipe do Delivery Aqui através das redes sociais do seu estabelecimento!
        </p>        
    </div>

    <div class="text-center mt-4">
        <h5 class="texto-titulo">Login</h5>        
    </div>

    <div class="row justify-content-center align-items-center">        
        <app-botao-login-google></app-botao-login-google>
        <app-botao-login-facebook></app-botao-login-facebook>
    </div>
</div>

<!-- teste -->
