<div class="container mt-20">    
        
    <p class="texto-paragrafo text-justify mt-2"> <span class="drop">S</span>eu comércio já está visível aos usuários, no entanto, apresentar uma logo marca dará maior visibilidade ao seu negócio.</p> 

    <p class="texto-paragrafo text-justify"> Para isso, envie-nos um arquivo de imagem com sua logo e um comprovante de doação <strong class="destaque-texto">(qualquer valor)</strong> para os seguintes emails: </p>

    <p class="texto-paragrafo text-justify"> <strong class="destaque-texto">jancleitonnunes@gmail.com xjailsonsantosx@gmail.com</strong></p>

    <p class="texto-paragrafo text-left"> <strong class="destaque-texto">Banco do Brasil:</strong> <br/>
    <strong>Agência:</strong> 0701-3 <br/>
    <strong>Conta:</strong> 26.027-4 <br/>
    JAILSON PEREIRA SANTOS</p>

    <p class="texto-paragrafo text-left"> <strong class="destaque-texto">Caixa Econômica:</strong>  <br/>
    <strong>Agência:</strong> 0806 <br/> 
    <strong>Conta:</strong> 00066598-7  <br/>
    <strong>Operação:</strong> 013 <br/>
    JANCLEITON R OLIVEIRA</p>

</div>
