<div class="container" style="margin-top: 20px">    
        
    <form [formGroup]='formulario' (ngSubmit)="efetuarCadastro()" novalidate>

        <div class="alert alert-info shadow" role="alert">
            <p class="text-justify">
                <strong> Área administrativa </strong> 
            </p>        
        </div>

        <div class="form-group">
            <label>nome do estabelecimento *</label>        
            <input class="form-control campo-personalizado" type="text" placeholder="nome comercial" formControlName="nomeEstabelecimento" pInputText />    
            <small *ngIf="formulario.get('nomeEstabelecimento').invalid && formulario.get('nomeEstabelecimento').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>        
                
        <!-- <div class="form-group">
            <label> selecione a cidade: </label>            
            <select id="cidades" class="form-control campo-personalizado" formControlName='cidade'>
                <option [value]="null" selected [disabled]="true">cidade</option>
                <option *ngFor="let c of cidadesRN" [value]="c">{{ c }}</option>
            </select>
            <small *ngIf="formulario.get('cidade').invalid && formulario.get('cidade').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div> -->
        
        <div class="form-group ">
            <label>categoria *</label>
            <select id="categoria" class="form-control campo-personalizado" formControlName='categoria'>
                <option [value]="null" selected [disabled]="true">categoria</option>
                <option *ngFor="let cat of categorias; index as i" [value]="i">{{ cat }}</option>
            </select>
            <small *ngIf="formulario.get('categoria').invalid && formulario.get('categoria').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>
        
        <div class="form-group">
            <label>frete *</label>
            <select id="frete" class="form-control campo-personalizado" formControlName='frete'>
            <option [value]="null" selected [disabled]="true">frete</option>
            <option value="grátis"> grátis </option>
            <option value="combinar"> combinar </option>
            </select>
            <small *ngIf="formulario.get('frete').invalid && formulario.get('frete').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>

        <div class="form-group">
            <label>endereço *</label>
            <input type="text" class="form-control campo-personalizado" placeholder="ex.: avenida rio branco"
                autocomplete="off" formControlName='endereco'>
            <small *ngIf="formulario.get('endereco').invalid && formulario.get('endereco').touched"
                class="form-text text-danger">campo obrigatório
            </small>
        </div>
    
        <div class="form-group">
            <label>número *</label>
            <input type="text" class="form-control campo-personalizado" placeholder="123" autocomplete="off"
                formControlName='numero'>
            <small *ngIf="formulario.get('numero').invalid && formulario.get('numero').touched"
                class="form-text text-danger">campo obrigatório
            </small>
        </div>
    
        <div class="form-group">
            <label>bairro *</label>
            <input type="text" class="form-control campo-personalizado" placeholder="centro" autocomplete="off"
                formControlName='bairro'>
            <small *ngIf="formulario.get('bairro').invalid && formulario.get('bairro').touched"
                class="form-text text-danger">campo obrigatório
            </small>
        </div>

        <div class="form-group">
            <label>whatsapp *</label><br/>     
            
            <p-inputMask mask="(99) 99999-9999" formControlName='whatsapp'></p-inputMask>
            <small *ngIf="formulario.get('whatsapp').invalid && formulario.get('whatsapp').touched" class="form-text text-danger">
                campo obrigatório
            </small>            
        </div>

        <div class="form-group">
            <label>instagram * <strong>sem</strong> @ </label>        
            <input type="text" class="form-control campo-personalizado" placeholder="meuNegocio" formControlName="instagram" />    
            <small *ngIf="formulario.get('instagram').invalid && formulario.get('instagram').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>

        <div class="form-group">
            <label>link whatsapp * <strong>sem</strong> http://</label>        
            <input type="text" class="form-control campo-personalizado" formControlName="linkContato" />    
            <small *ngIf="formulario.get('linkContato').invalid && formulario.get('linkContato').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>

        <!-- BOTOES FORM -->
        <div class="row justify-content-between mt-3 mb-2">
            <div class="col-4">
                <button type="button"(click)="sair()" class="btn btn-danger btn-lg btn-block btn-circle shadow">
                    <fa-icon icon="sign-out-alt"></fa-icon> 
                </button>            
            </div>
            <div class="col-4">
                <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary btn-lg btn-block btn-circle shadow">
                    <fa-icon icon="check"></fa-icon>
                </button>
            </div>
        </div>        
    </form>                                               
    
</div>
