<div class="container" style="margin-top: 20px">
    <app-spinner *ngIf="carregando"></app-spinner>         
        
    <form [formGroup]='formulario' *ngIf="apresentarFormulario" (ngSubmit)="cadastrarEmpresa()" novalidate>

        <div class="alert alert-info shadow" role="alert">
            <p class="text-justify">
                <strong> Atenção, </strong> verifique se o seu estabelecimento já foi cadastrado, caso queira atualizá-lo ou excluí-lo entre em contato com os desenvolvedores.
            </p>        
        </div>

        <div class="form-group">
            <label>nome do estabelecimento *</label>        
            <input class="form-control campo-personalizado" type="text" placeholder="nome comercial" formControlName="nomeEstabelecimento" pInputText />    
            <small *ngIf="formulario.get('nomeEstabelecimento').invalid && formulario.get('nomeEstabelecimento').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>        
                
        <!-- <div class="form-group">
            <label> selecione a cidade: </label>            
            <select id="cidades" class="form-control campo-personalizado" formControlName='cidade'>
                <option [value]="null" selected [disabled]="true">cidade</option>
                <option *ngFor="let c of cidadesRN" [value]="c">{{ c }}</option>
            </select>
            <small *ngIf="formulario.get('cidade').invalid && formulario.get('cidade').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div> -->
        
        <div class="form-group ">
            <label>categoria *</label>
            <select id="categoria" class="form-control campo-personalizado" formControlName='categoria'>
                <option [value]="null" selected [disabled]="true">categoria</option>
                <option *ngFor="let cat of categorias; index as i" [value]="i">{{ cat }}</option>
            </select>
            <small *ngIf="formulario.get('categoria').invalid && formulario.get('categoria').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>
        
        <div class="form-group">
            <label>frete *</label>
            <select id="frete" class="form-control campo-personalizado" formControlName='frete'>
            <option [value]="null" selected [disabled]="true">frete</option>
            <option value="grátis"> grátis </option>
            <option value="combinar"> combinar </option>
            </select>
            <small *ngIf="formulario.get('frete').invalid && formulario.get('frete').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>

        <div class="form-group">
            <label>endereço *</label>
            <input type="text" class="form-control campo-personalizado" placeholder="ex.: avenida rio branco"
                autocomplete="off" formControlName='endereco'>
            <small *ngIf="formulario.get('endereco').invalid && formulario.get('endereco').touched"
                class="form-text text-danger">campo obrigatório
            </small>
        </div>
    
        <div class="form-group">
            <label>número *</label>
            <input type="text" class="form-control campo-personalizado" placeholder="123" autocomplete="off"
                formControlName='numero'>
            <small *ngIf="formulario.get('numero').invalid && formulario.get('numero').touched"
                class="form-text text-danger">campo obrigatório
            </small>
        </div>
    
        <div class="form-group">
            <label>bairro *</label>
            <input type="text" class="form-control campo-personalizado" placeholder="centro" autocomplete="off"
                formControlName='bairro'>
            <small *ngIf="formulario.get('bairro').invalid && formulario.get('bairro').touched"
                class="form-text text-danger">campo obrigatório
            </small>
        </div>

        <div class="form-group">
            <label>whatsapp *</label><br/>     
            
            <p-inputMask mask="(99) 99999-9999" formControlName='whatsapp'></p-inputMask>
            <small *ngIf="formulario.get('whatsapp').invalid && formulario.get('whatsapp').touched" class="form-text text-danger">
                campo obrigatório
            </small>            
        </div>

        <div class="form-group">
            <label>instagram * <strong>sem</strong> @ </label>        
            <input type="text" class="form-control campo-personalizado" placeholder="meuNegocio" formControlName="instagram" />    
            <small *ngIf="formulario.get('instagram').invalid && formulario.get('instagram').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>

        <div class="form-group">
            <label>link whatsapp * <strong>sem</strong> http://</label>        
            <input type="text" class="form-control campo-personalizado" formControlName="linkContato" />    
            <small *ngIf="formulario.get('linkContato').invalid && formulario.get('linkContato').touched" class="form-text text-danger">
                campo obrigatório
            </small>
        </div>

        <!-- BOTOES FORM -->
        <div class="row justify-content-between mt-3 mb-2">
            <div class="col-4">
                <button type="button"(click)="sair()" class="btn btn-danger btn-lg btn-block btn-circle shadow">
                    <fa-icon icon="sign-out-alt"></fa-icon> 
                </button>            
            </div>
            <div class="col-4">
                <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary btn-lg btn-block btn-circle shadow">
                    <fa-icon icon="check"></fa-icon>
                </button>
            </div>
        </div>        
    </form>            
        
    <div *ngIf="!carregando && !apresentarFormulario" class="d-flex justify-content-center aligm-items-center flex-column app-font">        
        <p class="texto-paragrafo text-center"> <span class="drop">G</span>ostaria de apresentar sua logo? <br/> <a routerLink="/instrucaoLogo">clique aqui</a> </p>        
        <div class="row d-flex justify-content-center aligm-items-center mb-3"><img [src]="empresaCadastrada.logo ? empresaCadastrada.logo : '../../assets/img/default.png'" alt="imagem" class="w-50"></div>
        <div class="row d-flex justify-content-center aligm-items-center destaque-texto"> <strong> {{ empresaCadastrada.nomeEstabelecimento | titlecase }} </strong> </div>
        <div class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" icon="motorcycle"></fa-icon> {{ empresaCadastrada.frete | titlecase }} <fa-icon class="destaque-texto mr-2 ml-3" [icon]="['fab', 'whatsapp']"></fa-icon> {{ empresaCadastrada.whatsapp }}</div>
        <div *ngIf="empresaCadastrada.instagram" class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" [icon]="['fab', 'instagram']"></fa-icon> <a href="https://www.instagram.com/{{ empresaCadastrada.instagram }}">@{{ empresaCadastrada.instagram }}</a> </div>
        <div *ngIf="empresaCadastrada.linkContato" class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" icon="external-link-alt"></fa-icon> <a href="http://{{ empresaCadastrada.linkContato }}">{{ empresaCadastrada.linkContato }}</a> </div>
        <div *ngIf="empresaCadastrada.endereco.endereco" class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" icon="map-marker-alt"></fa-icon> {{ empresaCadastrada.endereco.endereco | titlecase }}, {{ empresaCadastrada.endereco.numero }} - {{ empresaCadastrada.endereco.bairro | titlecase }}</div>
        <p class="mt-2 text-center destaque-texto">*Verifique o funcionamento dos links!</p>
    </div>
    
    <div *ngIf="!carregando && !apresentarFormulario" class="row justify-content-between mt-3 mb2">
        <div class="col-4">
            <button type="button"(click)="sair()" class="btn btn-danger btn-lg btn-block btn-circle shadow">
                <fa-icon icon="sign-out-alt"></fa-icon> 
            </button>            
        </div>
        <div class="col-4">
            <button type="button" (click)="enviarDadosParaFormulario()" class="btn btn-primary btn-lg btn-block btn-circle shadow">
                <fa-icon icon="edit"></fa-icon> 
            </button>
        </div>
    </div>                
    
</div>
