<button type="button" (click)="authService.loginComFacebook()" class="btn botao btn-primary btn-lg py-0 shadow mt-2 btn-circle mt-2">
    <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
</button>
  