/* You can add global styles to this file, and also import other style files */

.container {
    background-color: #EBEFF2 !important;
  }
  
  html {
    background-color: #EBEFF2 !important;
  }
  
  body {
    background-color: #EBEFF2 !important;
  }
  
.app-font {
    font-family: 'Varela Round', sans-serif;
    color: #353839;    
}

.campo-personalizado {
    background-color: #FFFFFF !important;
    border: 1px solid #88B0BF !important;
}

.btn-primary{
  background-color: #042940 !important;
  border-color: #042940 !important;
  color: #FFFAFA !important
}

.btn-danger{
  background-color: #FFFAFA !important;
  border-color: #FFFAFA !important;
  color: #042940 !important
}

.destaque-texto {
  color: #042940 
}

.texto-paragrafo {
  font-size: large;
}

span.drop { 
  font-size: 160%;  
} 

  /*cores validação formulario*/

  input.ng-invalid.ng-dirty{
    border: 1px solid red !important;
  }
  
  select.ng-invalid.ng-dirty{
    border: 1px solid red !important;
  }
  
  input.ng-valid.ng-dirty{
    border: 1px solid green !important;
  }
  
  select.ng-valid.ng-dirty{
    border: 1px solid green !important;
  }
  