<div class="container vh-100">  

  <p class="texto-paragrafo text-justify mt-3"> <span class="drop">N</span>ão saia de casa. Pesquise os comércios que estão fazendo delivery em Santa Cruz. </p>

    <form class="app-font" [formGroup]='formulario' (ngSubmit)="listarEmpresas()" novalidate>
        
        <!-- <div class="form-group mt-3">          
          <label>selecione</label>
          <select id="cidades" class="form-control campo-personalizado" formControlName='cidade'>
              <option [value]="null" selected [disabled]="true">cidade</option>
              <option *ngFor="let c of cidadesRN" [value]="c">{{ c }}</option>
          </select>
          <small *ngIf="formulario.get('cidade').invalid && formulario.get('cidade').touched" class="form-text text-danger">
              campo obrigatório
          </small>  
        </div> -->

        <div class="form-group">
            <select id="categoria" class="form-control campo-personalizado" placeholder="categoria" formControlName='categoria'>
            <option [value]="null" [disabled]="true">categoria</option>
            <option *ngFor="let cat of categorias; index as i" [value]="i">{{ cat }}</option>
            </select>
            <small *ngIf="formulario.get('categoria').invalid && formulario.get('categoria').touched" class="form-text text-danger">
              campo obrigatório
          </small> 
        </div>        
        
        <div class=" mt-3 d-flex align-items-center justify-content-center">
          <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary btn-lg btn-block btn-circle shadow mb-2"> <fa-icon icon="search"></fa-icon> </button>                  
        </div>
    </form>    
    
    <app-spinner *ngIf="carregando"></app-spinner>

    <p *ngIf="empresas.length == 0 && pesquisou" class="texto-paragrafo text-center mt-2">
      Ainda não há <strong>{{categoriaPesquisada}}</strong> cadastrados(as) em <strong>{{cidadePesquisada}}</strong>.
    </p>          

    <div *ngFor="let empresa of empresas; let i = index" class="d-flex justify-content-center aligm-items-center flex-column mb-2 app-font">
      <hr/>
      <div class="row d-flex justify-content-center aligm-items-center mb-2"><img [src]="empresa.logo ? empresa.logo : '../../assets/img/default.png'" alt="imagem" class="w-50"></div>
      <div class="row d-flex justify-content-center aligm-items-center destaque-texto"> <strong> {{ empresa.nomeEstabelecimento | titlecase }} </strong> </div>
      <div class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" icon="motorcycle"></fa-icon> {{ empresa.frete | titlecase }} <fa-icon class="destaque-texto mr-2 ml-3" [icon]="['fab', 'whatsapp']"></fa-icon> {{ empresa.whatsapp }}</div>          
      <div *ngIf="empresa.instagram" class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" [icon]="['fab', 'instagram']"></fa-icon> <a href="https://www.instagram.com/{{ empresa.instagram }}">@{{ empresa.instagram }}</a> </div>
      <div *ngIf="empresa.linkContato" class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" icon="external-link-alt"></fa-icon> <a href="http://{{ empresa.linkContato }}">{{ empresa.linkContato }}</a> </div>
      <div *ngIf="empresa.endereco" class="row d-flex justify-content-center aligm-items-center"> <fa-icon class="destaque-texto mr-2" icon="map-marker-alt"></fa-icon> {{ empresa.endereco.endereco | titlecase }}, {{ empresa.endereco.numero }} - {{ empresa.endereco.bairro | titlecase }}</div>                  
    </div>
</div>
