#mainNav {
  background-color: #011826;
  font-family: minhaFonte;
}

/* #logoTemporaria {
  font-family: 'Acme', sans-serif;
  font-size: x-large;
} */

@font-face {  
  font-family: minhaFonte;
  src: url(../../assets/fonts/champagne-limousines.ttf);
}