<nav class="navbar navbar-expand-lg navbar-dark rounded-bottom " id="mainNav">
    <a class="navbar-brand" routerLink="">
      <a id="logoTemporaria" class="navbar-brand js-scroll-trigger p-0">
          Delivery Aqui
        <!-- <img src="../../assets/imgs/img.png" height="24px" style="margin: 0px;" alt="Delivery Aqui" /> -->
      </a>
    </a>      
    <em (click)="menu = true" class="pi pi-bars mr-0 " style="color: white"></em>  
</nav>
  
  <p-sidebar [(visible)]="menu" position="right" [showCloseIcon]="false">
    <div class="list-group list-group-flush">      
      <a (click)="menu = false" routerLink=""  class="list-group-item list-group-item-action">
        <fa-icon class="mr-2" icon="list-ul"></fa-icon> início
      </a>
      <a (click)="menu = false" (click)="meuComercio()"  class="list-group-item list-group-item-action">
        <fa-icon class="mr-2" icon="address-card"></fa-icon> meu comércio
      </a>
      <a (click)="menu = false" routerLink="sobre" class="list-group-item list-group-item-action">
        <fa-icon class="mr-2" icon="info"></fa-icon> sobre
      </a>      
    </div>
  </p-sidebar>
